* {
  padding: 0;
  margin: 0;
}

.background_image {
  width: 100%;
  height: 100vh;
  background-image: url("../public/images/Fallout-S2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: red;
  h1,
  p {
    text-align: center;
  }
}

[data-hide] {
  background-color: blue;
  width: 250px;
  height: 250px;
  margin: 20px;
}
[data-hide="hide"] {
  display: none;
}
[data-hide="vasible"] {
  opacity: 0.1;
}
a {
  margin: 0 auto;
  text-decoration: none;
  border: 2px double pink;
}

.box {
  width: 250px;
  height: 250px;
  background-color: red;
  margin: 0 auto;
}

div {
  background-color: blue;
  text-align: center;
  a {
    background-color: green;
  }
}
div {

}

p {
  background-color: yellow;
  text-align: center;
}
 div  .background_image{

}
.link2{
    display: block;
    background-color: blueviolet;
    text-align: center;
}

