/*

dispaly =>
block => h1 to h6 , div,  p 
inline => span ,  
inline-block => button , img , video , audio 

width:60%
width:10vw;
height:110vh;

%
vh vw 
px 
rem em 

fit-content
min-content
max-content

*/

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  span {
    color: yellow;
  }
}
#windows {
  font-size: 35px;
  background-color: aquamarine;
}

.trminate {
  color: blueviolet;
  border-bottom: 2px solid gray;
} */
/* div {
  width: 100%;
  height: 50vh;
  background-color: yellow;
} */
/* [data-one] {
  width: 50vw;
  height: 5vh;
  background-color: brown;
  margin: 5px;
}
[data-one="first"] {
  background-color: pink;
}
[data-one="second"] {
  background-color: yellowgreen;
}

.rwin {
  margin-top: 10px;
  width: 50%;
  height: 40px;
  background-color: purple;
}

.radin {
  width: 50%;
  height: 50vh;
} */

/* .box {
  max-width: 500px;
  height: 250px;
  background-color: brown;
}

.box_two {
  min-width: 500px;
  height: 250px;
  background-color: pink;
} */
/* 
div [data-tree="one"] {
  width: fit-content;
  background-color: yellow;
}
div [data-tree="two"] {
  width: min-content;
  background-color: pink;
}
div [data-tree="tree"] {
  width: max-content;
  background-color: tomato;
}
 */

/* 
 
 hide element 
   display: none;
   opacity: 0 to 1 ;


  background-color: ;
  background-image: ;
  background-position: ;
  background-repeat: ;
  background-size: ;


background <-properti ---  linear-gradient() <- function
linear-gradient( arrow ,  )

arrow => to top , bottom , right , left , 0deg to 360deg
... color 


radial-gradient(shape)
shape => circle 
... color 


 */

/* .box {
  width: 100%;
  height: 50vh;
  background-image: url("../public/images/36f7a9ead7cd3553df808084b32af358.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  img {
    width: 100%;
    height: 100%;
  }
} */

* {
  padding: 0;
  margin: 0;
}
.one {
  width: 100%;
  
  background: #833ab4;
  background: linear-gradient(
    357deg,
    rgba(131, 58, 180, 1) 1%,
    rgba(253, 29, 29, 1) 45%,
    rgba(252, 176, 69, 1) 70%
  );
}
.one h1 {
  text-align: center;
  padding: 5%; /* what is it */
  color: white;
}

.two {
  width: 100%;
}
.two div {
  width: 5%;
  
  background-color: #833ab4;
  margin: 5px;
}
.two [data-one="one"] {
  display: none;
}
.two [data-two="two"] {
  opacity: 0;
}

footer {
  margin: 50px;
  width: 100%;
 
  background-color: red;
  background-image: url("../public/images/sahar.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto;
  h2 {
    padding-top: 100px;
    text-align: center;
    font-size: 8rem;
  }
}
