/*    
width:60%
width:10vw;
height:110vh;



*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  span {
    color: yellow;
  }
}
#windows {
  font-size: 35px;
  background-color: aquamarine;
}

.trminate {
  color: blueviolet;
  border-bottom: 2px solid gray;
}
div {
  width: 100%;
  height: 50vh;
  background-color: yellow;
}
[data-one] {
  width: 50vw;
  height: 5vh;
  background-color: brown;
  margin: 5px;
}
[data-one="first"] {
  background-color: pink;
}
[data-one="second"] {
  background-color: yellowgreen;
}

.rwin {
  margin-top: 10px;
  width: 50%;
  height: 40px;
  background-color: purple;
}

.radin {
  width: 50%;
  height: 50vh;
}

